@charset "UTF-8";

@font-face {
  font-family: Owners;
  font-display: swap;
  src: url("../fonts/Owners-Medium.woff2") format("woff2"), url("../fonts/Owners-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Owners;
  font-display: swap;
  src: url("../fonts/Owners-Regular.woff2") format("woff2"), url("../fonts/Owners-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: SpaceGrotesk;
  font-display: swap;
  src: url("../fonts/SpaceGrotesk-Regular.woff2") format("woff2"), url("../fonts/SpaceGrotesk-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: SpaceGrotesk;
  font-display: swap;
  src: url("../fonts/SpaceGrotesk-Bold.woff2") format("woff2"), url("../fonts/SpaceGrotesk-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #060606;
  line-height: 1;
  font-family: "SpaceGrotesk";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "SpaceGrotesk";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  line-height: 1.3333333333;
  background: #FFFEF1;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 79.375rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  padding: 1.25rem 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__logo {
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 1.25rem;
  text-transform: uppercase;
  font-family: "Owners";
}

.header__logo span {
  font-weight: 500;
}

.menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 2.1875rem;
}

.menu__link {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.icon-menu {
  display: none;
}

.hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFEF1;
  border-radius: 1rem;
  padding-left: 3.125rem;
  padding-right: 3.125rem;
}

.hero__image {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.7322834646%;
          flex: 0 0 41.7322834646%;
}

.hero__image img {
  max-width: 100%;
}

.hero__data {
  padding-bottom: 5rem;
}

.hero__title {
  line-height: 1.2820512821;
  font-weight: 700;
}

.hero__subtitle {
  font-size: 1.1875rem;
  font-weight: 700;
  color: #256DC1;
  display: block;
  margin-bottom: 0.9375rem;
}

.hero__description {
  font-size: 1.1875rem;
}

.hero__description span {
  color: #FFF;
  background-color: #060606;
}

.hero__button {
  padding: 0.8125rem 3.875rem;
  background: #060606;
  border-radius: 0.75rem;
  color: #FFFEF1;
  font-size: 1.1875rem;
  font-family: "Owners";
  letter-spacing: 0.055em;
  -webkit-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}

.page__wrapper {
  background: #060606;
  border: 0.125rem solid #060606;
  border-radius: 0.5rem;
  margin-top: 1.875rem;
}

@media (min-width: 81.25em) {
  .header__logo span {
    font-size: 1.6875rem;
  }

  .hero__wrapper {
    gap: 7.0625rem;
  }

  .hero__wrapper {
    padding-top: 7.1875rem;
  }

  .hero__title {
    font-size: 2.5rem;
  }

  .hero__description {
    margin-bottom: 5rem;
  }
}

@media (max-width: 20em) {
  .header__logo span {
    font-size: 1.25rem;
  }

  .hero__wrapper {
    gap: 2.5rem;
  }

  .hero__wrapper {
    padding-top: 3.125rem;
  }

  .hero__title {
    font-size: 1.875rem;
  }

  .hero__description {
    margin-bottom: 1.875rem;
  }
}

@media (max-width: 61.99875em) {
  .hero__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1.875rem;
    gap: 1.875rem;
  }

  .hero__image {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .hero__data {
    padding-bottom: 1.875rem;
  }
}

@media (max-width: 47.99875em) {
  .header__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__logo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
    background-color: #FFFEF1;
    gap: 1.875rem;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    padding-bottom: 1.875rem;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
    height: 5rem;
    background-color: #FFF;
    z-index: 2;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    row-gap: 1.875rem;
  }

  .menu__link {
    font-size: 1.875rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 47.99875em) and (max-width: 0.125em) {
  .menu__body {
    padding-top: 7.5rem;
  }
}

@media (min-width: 20em) and (max-width: 81.25em) {
@supports (font-size: clamp( 1.25rem , 1.1071428571rem  +  0.7142857143vw , 1.6875rem )) {
    .header__logo span {
      font-size: clamp( 1.25rem , 1.1071428571rem  +  0.7142857143vw , 1.6875rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.1071428571rem  +  0.7142857143vw , 1.6875rem )) {
    .header__logo span {
      font-size: calc(1.25rem + 0.4375 * (100vw - 20rem) / 61.25);
    }
}

@supports (gap: clamp( 2.5rem , 1.0102040816rem  +  7.4489795918vw , 7.0625rem )) {
    .hero__wrapper {
      gap: clamp( 2.5rem , 1.0102040816rem  +  7.4489795918vw , 7.0625rem );
    }
}

@supports not (gap: clamp( 2.5rem , 1.0102040816rem  +  7.4489795918vw , 7.0625rem )) {
    .hero__wrapper {
      gap: calc(2.5rem + 4.5625 * (100vw - 20rem) / 61.25);
    }
}

@supports (padding-top: clamp( 3.125rem , 1.7984693878rem  +  6.6326530612vw , 7.1875rem )) {
    .hero__wrapper {
      padding-top: clamp( 3.125rem , 1.7984693878rem  +  6.6326530612vw , 7.1875rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 1.7984693878rem  +  6.6326530612vw , 7.1875rem )) {
    .hero__wrapper {
      padding-top: calc(3.125rem + 4.0625 * (100vw - 20rem) / 61.25);
    }
}

@supports (font-size: clamp( 1.875rem , 1.6709183673rem  +  1.0204081633vw , 2.5rem )) {
    .hero__title {
      font-size: clamp( 1.875rem , 1.6709183673rem  +  1.0204081633vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.6709183673rem  +  1.0204081633vw , 2.5rem )) {
    .hero__title {
      font-size: calc(1.875rem + 0.625 * (100vw - 20rem) / 61.25);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 0.8545918367rem  +  5.1020408163vw , 5rem )) {
    .hero__description {
      margin-bottom: clamp( 1.875rem , 0.8545918367rem  +  5.1020408163vw , 5rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.8545918367rem  +  5.1020408163vw , 5rem )) {
    .hero__description {
      margin-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 61.25);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 20em) {
  .menu__body {
    padding-top: 11.25rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 0.125em) and (max-width: 20em) {
@supports (padding-top: clamp( 7.5rem , 7.4764150943rem  +  18.8679245283vw , 11.25rem )) {
    .menu__body {
      padding-top: clamp( 7.5rem , 7.4764150943rem  +  18.8679245283vw , 11.25rem );
    }
}

@supports not (padding-top: clamp( 7.5rem , 7.4764150943rem  +  18.8679245283vw , 11.25rem )) {
    .menu__body {
      padding-top: calc(7.5rem + 3.75 * (100vw - 0.125rem) / 19.875);
    }
}
}

@media (any-hover: hover) {
  .menu__link:hover {
    color: #256DC1;
  }

  .hero__button:hover {
    background: #2a2626;
  }
}